/* Основной стиль для страницы */
body {
    margin: 0;
    height: 100vh; /* Высота экрана */
    background-color: #000000; /* Черный фон */
    color: white; /* Белый текст по умолчанию */
    font-family: 'Anton', sans-serif; /* Подключение шрифта Anton */
}

/* Стиль для текста в углу */
.corner-text {
    position: fixed;
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    font-size: 100px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    color: white; /* Белый цвет текста */
    z-index: 1000; /* Слой для текста, чтобы он был поверх всего */
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7); /* Тень для текста, чтобы он выделялся */
    letter-spacing: 5px; /* Увеличение расстояния между буквами */
    text-transform: uppercase; /* Все буквы в верхнем регистре */
}
